<script
  src="{{ '/scripts/vendor/jquery-3.7.1.min.js' | relative_url }}"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
<script src="{{ '/scripts/vendor/svgxuse.min.js' | relative_url }}" async></script>
<script src="{{ '/scripts/vendor/lite-youtube-embed.js' | relative_url }}" async></script>
<script src="{{ '/scripts/global.js' | relative_url }}"></script>
{% for js in page.js %}
  <script type="text/javascript" src="{{ js | relative_url }}"></script>
{% endfor %}