<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hkylQQMhqVoXFxMHjnxSA1aXSmObSfB5UlbR1fxb6/J+FMadV8+QSQE7rCQ=="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svgxuse/1.2.6/svgxuse.min.js" async></script>
<script src="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.3.2/src/lite-yt-embed.js" async></script>
<script src="{{ '/scripts/global.js' | relative_url }}"></script>
{% for js in page.js %}
  <script type="text/javascript" src="{{ js }}"></script>
{% endfor %}